numpy
opencv-python
PyYAML
streamlit
streamlit-tile
plotly
scikit-image
omegaconf
opencv-contrib-python
imgaug
ninja
timm
albumentations
jupyterlab
scipy
joblib
scikit-learn
ruamel.yaml
trimesh
pyyaml
imageio
open3d
transformations
einops
gdown
nodejs
xformers==0.0.28.post1
flash-attn
